/*-----------------------navigation Bar--------------------------------  */
*{
    padding: 0;
    margin: 0;
}
a,Link{
    text-decoration: none;
    /* background: #000; */
}
h2{
    text-align: center;
    font-variant: small-caps;
}
.NavigationBar ul{
    background: #e6a4d3ca;
    text-align: center;
    padding: 10px 0px;
}
.NavigationBar ul li{
    padding: 10px 15px;
    display: inline;
    margin: 10px;
}
.NavigationBar ul li:hover{
    transition: 1s;
    background: #ec8bd0ca;
    cursor: pointer;
}
.NavigationBar a{
    color: aliceblue;
    font-weight: bolder;
}
/* ---------------------------------------------------course list ------------------------------------- */
.CourseContent .navigations{
    text-align: center;
    margin: 20px;
}
.CourseContent .navigations a{
    padding: 10px 5px;
    background: #d2c9c9;
    border: 1px solid black;
    margin: 0px 10px;
}
.Course{    
    display:flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}