/*-----------------------navigation Bar--------------------------------  */
*{
    padding: 0;
    margin: 0;
}
a,Link{
    text-decoration: none;
    /* background: #000; */
}
h2{
    text-align: center;
    font-variant: small-caps;
}
.NavigationBar ul{
    font-variant: small-caps;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.367);
}
.NavigationBar ul{
    background: #fe6bd4b5;
    text-align: center;
    padding: 15px 0px;
}
.NavigationBar ul li{
    padding: 8px 10px;
    display: inline;
    margin: 10px;
}
.NavigationBar ul li:hover{
    transition: 0.5s;
    background: #e22faf90;
    cursor: pointer;
    border-radius: 10px;
}
.NavigationBar a{
    color: aliceblue;
    font-weight: bolder;
}
/* ---------------------------------------------------course list ------------------------------------- */
.CourseContent .navigations{
    text-align: center;
    margin: 20px 0px;
}
.Course{    
    display:flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    gap:20px;
}
/* ----------------------------------card --------------*/
.card{
    /* padding: 10px; */
    width: 320px;
    height: 66vh;
    border-radius: 10px;
    background: #f5f5f5;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.218);
}
.card .top{
    border-radius: 10px;
    position: relative;
    height: 33vh;
    /* background: #9f9e9e; */
}
.card .top span{
    position: absolute;
    background: rgb(55, 54, 54);
    padding: 3px 7px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    left: 10px;
    top: 10px;
}
.card .bottom{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 0px 10px;
    height: 33vh;
    text-align: center;
    font-size: 80%;
}
.card .bottom button,.Link {
    position: absolute;
    bottom: 0px;
    background: rgb(186, 185, 185);
    color: rgb(255, 255, 255);
    font-weight: 900;
    border: none;
    border-radius: 10px;
    padding: 5px 0px;
    width: 100%;
}
.card .bottom .Link1{
    width: 50%;
    left:0px;
    padding: 5px 0px;
    border-radius: 10px 0px 0px 10px;
}
.card .bottom .Link2{
    width: 50%;
    right:0px;
    padding: 5px 0px;
    border-radius: 0px 10px 10px 0px;
}
.card .bottom .Link2:hover,.Link1:hover{
    background: rgb(93, 93, 93);
}
.card .bottom button:hover{
    background: rgb(93, 93, 93);
}
/* ------------------------------------login box------------------------------------- */
.loginbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.loginbox .mainarea {
    padding: 30px 20px;
    width: 300px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.154);
    border-radius: 10px;
}
.loginbox .inputfield{
    margin: 25px 0px;
    width:300px;
}
.loginbox .button{
    text-align: center;
}
.loginbox .button button:last-child{
    margin-top: 15px;
    background-color: transparent;
    border: none;
    font-size:x-small;
    font-weight: 900;
}
/* ------------------------------------Home------------------------------------- */
.home .title{
    text-align: center;
    background:linear-gradient(rgba(0, 0, 0, 0.638),rgba(0, 0, 0, 0.659)),url(https://img.freepik.com/free-vector/online-certification-illustration_23-2148575636.jpg?w=1060&t=st=1695034507~exp=1695035107~hmac=baadc5809d2554528eee49e7c98e440af4325867dd0cae72427703297acc9ffc) no-repeat right;
    /* background-size: contain; */
    height: 70vh;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    /* justify-content: center; */
}
.title h1{
    font-variant: small-caps;
    letter-spacing: 7px;
    line-height: 50px;
    color: rgb(0, 0, 0);
    background: #e4e3e8e8;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    /* width: 50vw; */
}
.title p{
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background: #e4e3e8e8;
}
.buttoncenter{
    margin: 20px;
    text-align: center;
}
@media screen and (max-width:878px) {
    .NavigationBar ul li{
        padding: 0px 8px;
    }
}
@media screen and (max-width:330px) {
    .card{
        width: 290px;
        height: 60vh;
    }
    .card .top{
        height: 30vh;
    }
    .card .bottom{
        height: 30vh;
    }
    .loginbox .mainarea {
        width: 280px;
    }
}