/*-----------------------navigation Bar--------------------------------  */
body::-webkit-scrollbar {
    display: none; /*chrome*/
  }
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
*{
    padding: 0;
    margin: 0;
}
a,Link{
    text-decoration: none;
    /* background: #000; */
}
h2{
    text-align: center;
    font-variant: small-caps;
}
.NavigationBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    font-variant: small-caps;
    background: #121112de;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.367);
}
.NavigationBar ul{
    padding: 15px 0px;
}
.NavigationBar ul li{
    padding: 8px 10px;
    display: inline;
    margin: 10px;
}
.NavigationBar ul li:hover{
    transition: 0.3s;
    background: #605b60de;
    cursor: pointer;
    border-radius:5px;
}
.NavigationBar a{
    color: aliceblue;
    font-weight: bolder;
}
/* ---------------------------------------------------course list ------------------------------------- */
.CourseContent .navigations{
    text-align: center;
    margin: 20px 0px;
}
.Course{    
    display:flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    gap:20px;
    padding:10px 0px;
}
/* ----------------------------------card --------------*/
.card{
    /* padding: 10px; */
    width: 320px;
    height: 66vh;
    border-radius: 10px;
    background: #f5f5f5;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.218);
}
.card .top{
    border-radius: 10px;
    position: relative;
    height: 33vh;
}
.card .top span{
    position: absolute;
    background: rgb(55, 54, 54);
    padding: 3px 7px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    left: 10px;
    top: 10px;
}
.card .bottom{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 0px 10px;
    /* padding-top: 40px; */
    height: 33vh;
    text-align: center;
    font-size: 80%;
}
.card button,.Link {
    position: absolute;
    bottom: 10px;
    background: rgb(131, 130, 130);
    color: rgb(255, 255, 255);
    font-weight: 900;
    border: none;
    border-radius: 25px;
    padding: 5px 0px;
    width: 20%;
}
.card .bottom .Link1{
    width: 35%;
    left:15px;
    padding: 5px 0px;
}
.card .bottom .Link2{
    width: 35%;
    right:15px;
    padding: 5px 0px;
}
.card .bottom .Link2:hover,.Link1:hover{
    background: rgb(93, 93, 93);
}
.card .bottom button:hover{
    background: rgb(93, 93, 93);
}
.hidden{
    visibility: hidden;
}
/* ------------------------------------login box------------------------------------- */
.loginbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.loginbox .mainarea {
    padding: 30px 20px;
    width: 300px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.154);
    border-radius: 10px;
}
.loginbox .inputfield{
    margin: 25px 0px;
    width:300px;
}
.loginbox .button{
    text-align: center;
}
.loginbox .button button:last-child{
    margin-top: 15px;
    background-color: transparent;
    border: none;
    font-size:x-small;
    font-weight: 900;
}
/* ------------------------------------Home------------------------------------- */
.home{
    background: #fcf2f2;
}
.home .title{
    text-align: center;
    background:url(https://img.freepik.com/free-vector/online-courses-tutorials_52683-37860.jpg?w=1800&t=st=1695051049~exp=1695051649~hmac=36d58b692c9ae742a57e071bc4f4754d2608bcab8f9f2ba364e2285fe9798214) no-repeat center;
    background-size: contain;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    /* justify-content: center; */
}
.title h1{
    font-variant: small-caps;
    letter-spacing: 7px;
    line-height: 50px;
    color: rgb(0, 0, 0);
    background: #fcf2f2;
    padding: 20px 0px 10px 0px;
    width: 100%;
}
.title p{
    border-radius: 5px;
    width: 100%;
    padding: 10px 0px 20px 0px;
    /* padding: 20px; */
    background: #fcf2f2;
}
.buttoncenter{
    position: absolute;
    bottom: 0px;
    margin: 15px;
    text-align: center;
}
@media screen and (max-width:878px) {
    .NavigationBar ul li{
        padding: 10px 8px;
        margin: 5px;
    }
    .home .title{
        background-size: cover;
    }
    .title h1{
        letter-spacing: 0px;
        line-height: 40px;
        padding: 20px;
    }
    .title p{
        border-radius: 0px;
        padding: 20px;
        background: #fcf2f2;
    }
    .card{
        height: 60vh;
    }
    .card .top{
        height: 30vh;
    }
    .card .bottom{
        height: 30vh;
    }

}
@media screen and (max-width:330px) {
    .card{
        width: 290px;
        height: 60vh;
    }
    .card .top{
        height: 30vh;
    }
    .card .bottom{
        height: 30vh;
    }
    .loginbox .mainarea {
        width: 280px;
    }
}